H1 {
color: white;
font-family: cursive;
  }

h3 {
color: white;
font-family: cursive;
}

ol {
color: white;
font-family: cursive;
font-size: 20px;
}

body {
background: purple;
}

p {
color: white;
font-family: cursive;
font-size: 20px;
}